<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<packageSources>
		<!--
		  To use the Avalonia CI feed to get unstable packages, uncomment these 2 lines.
		-->
		<!-- <add key="AvaloniaNightly" value="https://pkgs.dev.azure.com/AvaloniaUI/AvaloniaUI/_packaging/avalonia-nightly/nuget/v3/index.json" /> -->
		<!-- <add key="AllAvalonia" value="https://pkgs.dev.azure.com/AvaloniaUI/AvaloniaUI/_packaging/avalonia-all/nuget/v3/index.json" /> -->
		<add key="NuGet" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>
